

*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
font-family: sans-serif;
}

.navlink{
    display:flex;
    justify-content: space-around;
    gap: 18px;
    width:80%;
    height: 40px;
    font-size: 35px;
    line-height: 15px;
  

}

nav{
    display: flex;
    justify-content: space-around;
    font-size: 35px;
    padding-top: 40px;
    border: 1px solid red;
    background-color: black;
    color: azure;
    height: 140px;
    
}


body{
    background-color: aqua;
}

a{
    text-decoration: none;
    color: white;
}

 #screen{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    margin: auto;
    margin-top: 50px;
}

#screen img{
    width:80%;
    height: 350px;
}

.Add{
    font-size: 30px;
    background-color: red;
    color: white;
    border-radius: 10px;
  
}

 #filter{
    width:15%;
    height: 60px;
    font-size: 25px;
}